[JENKINS-75919] AuthenticationManager does not wait for service request message response

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-75919] -->
<!-- [jira_issue_type=Bug] -->
<!-- [reporter=galorithm] -->
<!-- [assignee=ifernandezcalvo] -->
<!-- [author=galorithm] -->
<!-- [jira_component=trilead-api-plugin] -->
<!-- [jira_issues_importer_version=1.4.1] -->

<p>PR link for fix: <a href="https://github.com/jenkinsci/trilead-ssh2/pull/250" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/pull/250</a></p>

<p>Originally detected by a libssh user here: <a href="https://gitlab.com/libssh/libssh-mirror/-/issues/311" class="external-link" target="_blank" rel="nofollow noopener">https://gitlab.com/libssh/libssh-mirror/-/issues/311</a> (trilead ssh2 client used against a libssh server)</p>

<p>The authentication code sent 'ssh-userauth' SSH_MSG_SERVICE_REQUEST followed by 'ssh-connection' SSH_MSG_USERAUTH_REQUEST before waiting for responses of both of these requests (<a href="https://github.com/jenkinsci/trilead-ssh2/blob/34c8e6535725e81b20045fec14ccc1cc065cc3a7/src/com/trilead/ssh2/auth/AuthenticationManager.java#L141)." class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/blob/34c8e6535725e81b20045fec14ccc1cc065cc3a7/src/com/trilead/ssh2/auth/AuthenticationManager.java#L141).</a></p>

<pre>
PacketServiceRequest sr = <span class="code-keyword">new</span> PacketServiceRequest(<span class="code-quote">"ssh-userauth"</span>);			tm.sendMessage(sr.getPayload());

PacketUserauthRequestNone urn = <span class="code-keyword">new</span> PacketUserauthRequestNone(<span class="code-quote">"ssh-connection"</span>, user);
tm.sendMessage(urn.getPayload());

<span class="code-object">byte</span>[] msg = getNextMessage();
<span class="code-keyword">new</span> PacketServiceAccept(msg, 0, msg.length);

msg = getNextMessage();
 </pre>
<p>This seems to be a violation of the protocol which mentions (quoting the protocol RFC 4253 Section 8 "Service Request"):</p>

<p>"Note that after a key exchange with implicit server authentication, the client MUST wait for response to its service request message before sending any further data."</p>

---
<details><summary><i>Originally reported by <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=galorithm">galorithm</a>, imported from: <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-75919" target="_blank">AuthenticationManager does not wait for service request message response</a></i></summary>
<i><ul>
<li><b>assignee</b>: <img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/ifernandezcalvo.png" title="ifernandezcalvo's avatar" /> <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=ifernandezcalvo">ifernandezcalvo</a>
<li><b>status</b>: Open
<li><b>priority</b>: Minor
<li><b>component(s)</b>: trilead-api-plugin
<li><b>resolution</b>: Unresolved
<li><b>votes</b>: 0
<li><b>watchers</b>: 1
<li><b>imported</b>: 20251216-225446
</ul></i>
<details><summary>Raw content of original issue</summary>

<pre>
<p>PR link for fix: <a href="https://github.com/jenkinsci/trilead-ssh2/pull/250" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/pull/250</a></p>

<p>Originally detected by a libssh user here: <a href="https://gitlab.com/libssh/libssh-mirror/-/issues/311" class="external-link" target="_blank" rel="nofollow noopener">https://gitlab.com/libssh/libssh-mirror/-/issues/311</a> (trilead ssh2 client used against a libssh server)</p>

<p>The authentication code sent 'ssh-userauth' SSH_MSG_SERVICE_REQUEST followed by 'ssh-connection' SSH_MSG_USERAUTH_REQUEST before waiting for responses of both of these requests (<a href="https://github.com/jenkinsci/trilead-ssh2/blob/34c8e6535725e81b20045fec14ccc1cc065cc3a7/src/com/trilead/ssh2/auth/AuthenticationManager.java#L141)." class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/blob/34c8e6535725e81b20045fec14ccc1cc065cc3a7/src/com/trilead/ssh2/auth/AuthenticationManager.java#L141).</a></p>
<div class="code panel" style="border-width: 1px;"><div class="codeContent panelContent">
<pre class="code-java">PacketServiceRequest sr = <span class="code-keyword">new</span> PacketServiceRequest(<span class="code-quote">"ssh-userauth"</span>);			tm.sendMessage(sr.getPayload());

PacketUserauthRequestNone urn = <span class="code-keyword">new</span> PacketUserauthRequestNone(<span class="code-quote">"ssh-connection"</span>, user);
tm.sendMessage(urn.getPayload());

<span class="code-object">byte</span>[] msg = getNextMessage();
<span class="code-keyword">new</span> PacketServiceAccept(msg, 0, msg.length);

msg = getNextMessage();
 </pre>
</div></div>
<p>This seems to be a violation of the protocol which mentions (quoting the protocol RFC 4253 Section 8 "Service Request"):</p>

<p>"Note that after a key exchange with implicit server authentication, the client MUST wait for response to its service request message before sending any further data."</p></pre>
</details>
</details>