[JENKINS-74733] Not possible to access banner content

<!-- ### Imported Jira references for easier searching -->
<!-- [jira_issue_key=JENKINS-74733] -->
<!-- [jira_issue_type=Improvement] -->
<!-- [reporter=eraonel] -->
<!-- [assignee=ifernandezcalvo] -->
<!-- [author=eraonel] -->
<!-- [jira_component=trilead-api-plugin] -->
<!-- [jira_label=plugin] -->
<!-- [jira_issues_importer_version=1.4.1] -->

<p>We need to present the banner used in SSH since it can show legal information and or</p>

<p>password is about to expire.</p>

<p>This is an example using OpenSSH 9.8</p>




```
2024-10-24 09:49:35,080 (Logger.java:46) TRACE : Received SSH_MSG_KEXDH_REPLY/SSH_MSG_KEX_DH_GEX_GROUP 212 bytes payload
2024-10-24 09:49:35,104 (Logger.java:46) TRACE : Client: 'SSH-2.0-TrileadSSH2Java_213'
2024-10-24 09:49:35,105 (Logger.java:46) TRACE : Server: 'SSH-2.0-OpenSSH_9.8'
2024-10-24 09:49:35,109 (Logger.java:46) TRACE : Sent SSH_MSG_NEWKEYS 1 bytes payload
2024-10-24 09:49:35,114 (Logger.java:46) TRACE : Received SSH_MSG_NEWKEYS 1 bytes payload
2024-10-24 09:49:35,115 (ImplSsh.java:571) DEBUG : Done creating a ssh connection: 214.21.133.206:830_ID6240977
2024-10-24 09:49:35,117 (Logger.java:46) TRACE : Sent SSH_MSG_SERVICE_REQUEST 17 bytes payload
2024-10-24 09:49:35,117 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_REQUEST 37 bytes payload
2024-10-24 09:49:35,162 (Logger.java:46) TRACE : Received SSH_MSG_SERVICE_ACCEPT 17 bytes payload
2024-10-24 09:49:35,209 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_BANNER 1031 bytes payload
2024-10-24 09:49:35,210 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_FAILURE 45 bytes payload
2024-10-24 09:49:35,212 (ImplSsh.java:462) DEBUG : Available authentication methods: [publickey, password, keyboard-interactive]
2024-10-24 09:49:35,212 (ImplSsh.java:464) DEBUG : Ignoring authentication methods: [publickey, password, gssapi-with-mic]
2024-10-24 09:49:35,212 (ImplSsh.java:474) DEBUG : Trying to authenticate with method: keyboard-interactive
2024-10-24 09:49:35,213 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_REQUEST 61 bytes payload
2024-10-24 09:49:35,220 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_INFO_REQUEST 32 bytes payload
2024-10-24 09:49:35,223 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_INFO_RESPONSE 16 bytes payload
2024-10-24 09:49:35,441 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_INFO_REQUEST 17 bytes payload
2024-10-24 09:49:35,442 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_INFO_RESPONSE 5 bytes payload
2024-10-24 09:49:35,448 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_BANNER 41 bytes payload
2024-10-24 09:49:35,493 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_SUCCESS 1 bytes payload
2024-10-24 09:49:35,494 (ImplSsh.java:488) DEBUG : keyboard-interactive authentication successful? true
2024-10-24 09:49:35,494 (ImplSsh.java:500) DEBUG : Authentication Complete: 214.21.133.206:830_ID6240977
Value of the banner: Password will expire in 75 days
```

<p>Here we can see two  banner messages;</p>

<p>1. Legal information<br/>
2. Password is about to expire.</p>

<p>Current implementation:</p>

<p><a href="https://github.com/jenkinsci/trilead-ssh2/blob/main/src/com/trilead/ssh2/auth/AuthenticationManager.java#L102-L107" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/blob/main/src/com/trilead/ssh2/auth/AuthenticationManager.java#L102-L107</a></p>

<p>Banner data is stored in <br/>
<a href="https://github.com/mpet/trilead-ssh2/blob/master/src/com/trilead/ssh2/packets/PacketUserauthBanner.java" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/mpet/trilead-ssh2/blob/master/src/com/trilead/ssh2/packets/PacketUserauthBanner.java</a> and</p>

<p>AuthenticationManager holds a String for the message but it is internal to the class.</p>

<p>Suggestion is to add a public method, List<String> getBanners() , in Connection.</p>

<p>If no banner exist or banner has not been sent then we should return an empty list.</p>

<p>According to SSH <a href="https://www.ietf.org/rfc/rfc4252.txt" class="external-link" target="_blank" rel="nofollow noopener">https://www.ietf.org/rfc/rfc4252.txt</a> </p>




```
5.4.  Banner Message

   In some jurisdictions, sending a warning message before
   authentication may be relevant for getting legal protection.  Many
   UNIX machines, for example, normally display text from /etc/issue,
   use TCP wrappers, or similar software to display a banner before
   issuing a login prompt.

   The SSH server may send an SSH_MSG_USERAUTH_BANNER message at any
   time after this authentication protocol starts and before
   authentication is successful.  This message contains text to be
   displayed to the client user before authentication is attempted.  The
   format is as follows:

      byte      SSH_MSG_USERAUTH_BANNER
      string    message in ISO-10646 UTF-8 encoding [RFC3629]
      string    language tag [RFC3066]

   By default, the client SHOULD display the 'message' on the screen.
   However, since the 'message' is likely to be sent for every login
   attempt, and since some client software will need to open a separate
   window for this warning, the client software may allow the user to
   explicitly disable the display of banners from the server.  The
   'message' may consist of multiple lines, with line breaks indicated
   by CRLF pairs.





Ylonen & Lonvick    Standards Track     [Page 7]
�
RFC 4252      SSH Authentication Protocol   January 2006


   If the 'message' string is displayed, control character filtering,
   discussed in [SSH-ARCH], SHOULD be used to avoid attacks by sending
   terminal control characters.
```
<p> <br/>
it seems to be no restriction on number of SSH_MSG_USERAUTH_BANNER  messages and this is confirmed by OpenSSH impl.</p>

<p>Will add a PR for this.</p>

<p>//mikael</p>

---
<details><summary><i>Originally reported by <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=eraonel">eraonel</a>, imported from: <a class="original-jira-link" href="https://issues.jenkins.io/browse/JENKINS-74733" target="_blank">Not possible to access banner content</a></i></summary>
<i><ul>
<li><b>assignee</b>: <img align="left" width="20" src="https://raw.githubusercontent.com/jenkinsci/artifacts-from-jira-issues/refs/heads/main/avatars/ifernandezcalvo.png" title="ifernandezcalvo's avatar" /> <a href="https://issues.jenkins.io/secure/ViewProfile.jspa?name=ifernandezcalvo">ifernandezcalvo</a>
<li><b>status</b>: Resolved
<li><b>priority</b>: Minor
<li><b>component(s)</b>: trilead-api-plugin
<li><b>label(s)</b>: plugin
<li><b>resolution</b>: Fixed
<li><b>resolved</b>: 2024-11-20T07:13:47+00:00
<li><b>votes</b>: 0
<li><b>watchers</b>: 1
<li><b>imported</b>: 20251216-225446
</ul></i>
<details><summary>Raw content of original issue</summary>

<pre>
<p>We need to present the banner used in SSH since it can show legal information and or</p>

<p>password is about to expire.</p>

<p>This is an example using OpenSSH 9.8</p>


<div class="preformatted panel" style="border-width: 1px;"><div class="preformattedContent panelContent">
<pre>2024-10-24 09:49:35,080 (Logger.java:46) TRACE : Received SSH_MSG_KEXDH_REPLY/SSH_MSG_KEX_DH_GEX_GROUP 212 bytes payload
2024-10-24 09:49:35,104 (Logger.java:46) TRACE : Client: 'SSH-2.0-TrileadSSH2Java_213'
2024-10-24 09:49:35,105 (Logger.java:46) TRACE : Server: 'SSH-2.0-OpenSSH_9.8'
2024-10-24 09:49:35,109 (Logger.java:46) TRACE : Sent SSH_MSG_NEWKEYS 1 bytes payload
2024-10-24 09:49:35,114 (Logger.java:46) TRACE : Received SSH_MSG_NEWKEYS 1 bytes payload
2024-10-24 09:49:35,115 (ImplSsh.java:571) DEBUG : Done creating a ssh connection: 214.21.133.206:830_ID6240977
2024-10-24 09:49:35,117 (Logger.java:46) TRACE : Sent SSH_MSG_SERVICE_REQUEST 17 bytes payload
2024-10-24 09:49:35,117 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_REQUEST 37 bytes payload
2024-10-24 09:49:35,162 (Logger.java:46) TRACE : Received SSH_MSG_SERVICE_ACCEPT 17 bytes payload
2024-10-24 09:49:35,209 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_BANNER 1031 bytes payload
2024-10-24 09:49:35,210 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_FAILURE 45 bytes payload
2024-10-24 09:49:35,212 (ImplSsh.java:462) DEBUG : Available authentication methods: [publickey, password, keyboard-interactive]
2024-10-24 09:49:35,212 (ImplSsh.java:464) DEBUG : Ignoring authentication methods: [publickey, password, gssapi-with-mic]
2024-10-24 09:49:35,212 (ImplSsh.java:474) DEBUG : Trying to authenticate with method: keyboard-interactive
2024-10-24 09:49:35,213 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_REQUEST 61 bytes payload
2024-10-24 09:49:35,220 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_INFO_REQUEST 32 bytes payload
2024-10-24 09:49:35,223 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_INFO_RESPONSE 16 bytes payload
2024-10-24 09:49:35,441 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_INFO_REQUEST 17 bytes payload
2024-10-24 09:49:35,442 (Logger.java:46) TRACE : Sent SSH_MSG_USERAUTH_INFO_RESPONSE 5 bytes payload
2024-10-24 09:49:35,448 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_BANNER 41 bytes payload
2024-10-24 09:49:35,493 (Logger.java:46) TRACE : Received SSH_MSG_USERAUTH_SUCCESS 1 bytes payload
2024-10-24 09:49:35,494 (ImplSsh.java:488) DEBUG : keyboard-interactive authentication successful? true
2024-10-24 09:49:35,494 (ImplSsh.java:500) DEBUG : Authentication Complete: 214.21.133.206:830_ID6240977
Value of the banner: Password will expire in 75 days</pre>
</div></div>

<p>Here we can see two  banner messages;</p>

<p>1. Legal information
2. Password is about to expire.</p>

<p>Current implementation:</p>

<p><a href="https://github.com/jenkinsci/trilead-ssh2/blob/main/src/com/trilead/ssh2/auth/AuthenticationManager.java#L102-L107" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jenkinsci/trilead-ssh2/blob/main/src/com/trilead/ssh2/auth/AuthenticationManager.java#L102-L107</a></p>

<p>Banner data is stored in 
<a href="https://github.com/mpet/trilead-ssh2/blob/master/src/com/trilead/ssh2/packets/PacketUserauthBanner.java" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/mpet/trilead-ssh2/blob/master/src/com/trilead/ssh2/packets/PacketUserauthBanner.java</a> and</p>

<p>AuthenticationManager holds a String for the message but it is internal to the class.</p>

<p>Suggestion is to add a public method, List&lt;String&gt; getBanners() , in Connection.</p>

<p>If no banner exist or banner has not been sent then we should return an empty list.</p>

<p>According to SSH <a href="https://www.ietf.org/rfc/rfc4252.txt" class="external-link" target="_blank" rel="nofollow noopener">https://www.ietf.org/rfc/rfc4252.txt</a> </p>


<div class="preformatted panel" style="border-width: 1px;"><div class="preformattedContent panelContent">
<pre>5.4.  Banner Message

   In some jurisdictions, sending a warning message before
   authentication may be relevant for getting legal protection.  Many
   UNIX machines, for example, normally display text from /etc/issue,
   use TCP wrappers, or similar software to display a banner before
   issuing a login prompt.

   The SSH server may send an SSH_MSG_USERAUTH_BANNER message at any
   time after this authentication protocol starts and before
   authentication is successful.  This message contains text to be
   displayed to the client user before authentication is attempted.  The
   format is as follows:

      byte      SSH_MSG_USERAUTH_BANNER
      string    message in ISO-10646 UTF-8 encoding [RFC3629]
      string    language tag [RFC3066]

   By default, the client SHOULD display the 'message' on the screen.
   However, since the 'message' is likely to be sent for every login
   attempt, and since some client software will need to open a separate
   window for this warning, the client software may allow the user to
   explicitly disable the display of banners from the server.  The
   'message' may consist of multiple lines, with line breaks indicated
   by CRLF pairs.





Ylonen &amp; Lonvick            Standards Track                     [Page 7]
�
RFC 4252              SSH Authentication Protocol           January 2006


   If the 'message' string is displayed, control character filtering,
   discussed in [SSH-ARCH], SHOULD be used to avoid attacks by sending
   terminal control characters.</pre>
</div></div>
<p> 
it seems to be no restriction on number of SSH_MSG_USERAUTH_BANNER  messages and this is confirmed by OpenSSH impl.</p>

<p>Will add a PR for this.</p>

<p>//mikael</p></pre>
</details>
</details>